body {
    background-color: #f1f3f5
}

.navbar {
    min-height: 32px;
}

#root {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.card {
    margin-bottom: 1rem;
}

.toast {
    margin-bottom: 1rem;
}

.card .card-header {
    background-color: #f8f9fa;
    padding: 0.8rem;
}

#category-selector {
    margin-bottom: 1rem;
}

#root dl {
    margin: 0;
}

#root dd {
    margin: 0;
    line-height: 1.8;
}

#root .shadow {
    border: 0;
    box-shadow: 0 6px 8px rgba(102, 119, 136, .03), 0 1px 2px rgba(102, 119, 136, .3);
}

.card .card-body.menu-card-body {
    padding: 0.5rem;
}

.text-subtle {
    color: #66778880;
}

.text-small {
    font-size: 0.7rem;
}

.footer a,
.footer a:visited,
.footer a:focus {
    color: #66778880;
}

.footer {
    margin-bottom: 1rem;
}


a.btn-list-item {
    border: none;
    color: #3b4351;
}

a.btn-list-item:visited {
    border: none;
    color: #3b4351;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}